/*
===========================================================
PROYECTO  : Portafolio Profesional OuKeiZee
AUTOR     : OuKeiZee
VERSIÓN   : 1.3.0
ARCHIVO   : css/components/carousel.css

DESCRIPCIÓN:
Contiene todos los estilos del carrusel de proyectos.

RESPONSABILIDADES

- Contenedor del carrusel.
- Tarjetas.
- Animaciones.
- Botones.
- Hover.
- Responsive.

© 2026 OuKeiZee
===========================================================
*/
